* {
box-sizing: border-box;
  }



#tercero {
  

  padding-top: 150px;
  padding-bottom: 300px;
  
}


.row1 {
  margin-bottom: 300px;
}




.background {
  

  background-image: url(fotos/bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  



}





.button {
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  cursor:pointer;
  
}

.button:hover {
  background-color: grey; 
  color: white;
  border: 2px solid white;
}

.giro {
  -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    transform: scaleX(-1);
}


.funciones > button {
  margin-top: 5px;
  margin-bottom: 5px;
  color: black;
  width: 155px;
}

.mens {
  padding-top: 50px;
  color: white;
}

textarea {
  width: 250px;
  height: 150px;
}

html {
  position: relative;
  min-height: 100%;
}
.container {


}
.footer {
  
  width: 100%;
  background-color: black;
  text-align: center;
  position: fixed;
  bottom: 0px;
}



.fa-twitter {
    color: #4099FF;
}

.fa-facebook {
    color: #3B5998;
}

.fa-youtube-play {
    color: #e52d27;
}

.fa-rss {
    color: #FF6600;
}

.fa-vine {
    color: #00a478;
}

.fa-flickr {
    color: #ff0084;
}

.fa-twitch {
    color: #6441A5;
}

.fa-linkedin {
    color: #007bb6;
}

.fa {
    opacity: 0.7;
    transition: 1s;
    -webkit-transition: 1s;
}

.fa:hover{
    opacity: 1;
    transition: 1s;
    -webkit-transition: 1s;}


    .row {
      margin : 0px;
    }